*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #007bff;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.sr-only {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* remove all animation,transition */

@media (prefer-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);

  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);

  --fs: 16px;

  --ff: "Red Hat Text", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);

  font-weight: var(--fw-400);
}

/* App */

.App {
  height: fit-content;
  /* width: 100vw; */

  display: flex;
  justify-content: center;
  gap: 2rem;

  padding: 2rem 3rem;

  background: var(--Rose-100);
}

/* dessert */

.dessert {
  height: fit-content;
}

.dessert > h1 {
  color: var(--Rose-900);
}

/* sweets */
.sweets {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 2rem;

  padding: 1rem 0;
}

.sweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  gap: 2rem;
}

.sweet-img-button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sweet-img-button img {
  border-radius: 10px;
}
.sweet-img-button > img {
  width: 100%;

  position: relative;
}

.isSelected {
  border: 2px solid var(--Red);
}
.sweet-img-button > button,
.quantity-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.6em;
  width: 160px;
  padding: 10px 20px;
  border-radius: 50vw;
  border: 1px solid var(--Rose-900);
  outline: none;

  color: var(--Rose-900);
  font-weight: 500;
}

.quantity-container {
  background: var(--Red);
  color: var(--Rose-50);
  display: flex;
  justify-content: space-between;
  border: none;
}
.quantity-container > button {
  border: 2px solid var(--Rose-50);
  color: var(--Rose-50);
  border-radius: 50%;
  aspect-ratio: 1;
  background: var(--Red);

  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-container > button:hover,
.quantity-container > button:focus-visible {
  color: var(--Red);
  background: var(--Rose-50);
}

.sweet-img-button > button:hover,
.sweet-img-button > button:focus-visible {
  border-color: var(--Red);
  color: var(--Red);
}

.sweet-category {
  color: var(--Rose-500);
}
.sweet-name {
  color: var(--Rose-900);
}
.sweet-price {
  color: var(--Red);
  font-weight: var(--fw-700);
}

.button-container {
  background: var(--Red);
}

/* cart */
.cart,
.empty-cart {
  background: var(--Rose-50);
  height: fit-content;

  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 1rem;

  min-width: 300px;

  border-radius: 10px;
}
.cart > h2,
.empty-cart > h2 {
  color: var(--Red);
}

.empty-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-content > p {
  color: var(--Red);
}

/* order */

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--Rose-100);
}
.order {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.order > h4 {
  color: var(--Rose-500);
}

.order-stats {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.order-amount {
  color: var(--Red);
  font-weight: var(--fw-700);
}
.order-per-rate {
  color: var(--Rose-300);
}
.order-total {
  color: var(--Rose-500);
  font-weight: var(--fw-600);
}

.order-container > button {
  border: 1px solid var(--Rose-300);
  border-radius: 50%;
  outline: none;
  background: none;
  aspect-ratio: 1;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Rose-300);
}

.order-container > button:hover,
.order-container > button:focus-visible {
  color: var(--Rose-900);
  border-color: var(--Rose-900);
}

/* bill */
.bill {
  display: flex;
  justify-content: space-between;
}
.final-bill {
  font-weight: var(--fw-700);
  color: var(--Rose-900);
  font-size: larger;
}

.order-description {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  background: var(--Rose-100);
  padding: 10px 20px;
  border-radius: 1rem;

  font-size: small;
}
.order-description span {
  font-weight: var(--fw-700);
  color: var(--Rose-500);
}

/* confirm button */
.confirm-button,
.start-new {
  background: var(--Red);
  color: var(--Rose-50);
  border: none;
  outline: none;
  border-radius: 50vw;
  padding: 10px 20px;
}

/* confirm order */

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* faded dark */

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;

  backdrop-filter: blur(2px);
}

.confirmed-order-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  overflow: hidden;

  background-color: var(--Rose-50);

  min-width: 500px;
  border-radius: 10px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.confirmed-order-container > h1 {
  color: var(--Rose-900);
}

.confirmed-order-container > h1 + p {
  color: var(--Rose-500);
}

.confirmed-order-list {
  background: var(--Rose-100);
  border-radius: 20px;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 20px;

  overflow-y: auto;
  max-height: 60vh;
}
.confirmed-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;

  border-bottom: 0.7px solid var(--Rose-900);
}

.confirmed-order > p:last-of-type {
  color: var(--Rose-900);
  font-weight: var(--fw-700);
}

.confirm-order-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.confirm-order-details > img {
  aspect-ratio: 1;
  height: 70px;
}

.confirmed-order-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.confirmed-order-cost {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.confirmed-order-cost > p:first-of-type {
  color: var(--Red);
  font-weight: var(--fw-700);
}

.confirmed-order-cost > p:last-of-type {
  color: var(--Rose-300);
}

.confirm-order-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirm-order-total > p:first-of-type {
  color: var(--Rose-500);
}
.confirm-order-total > p:last-of-type {
  color: var(--Rose-900);
  font-size: larger;
  font-weight: var(--fw-700);
}

.confirmed-order-container > svg {
  aspect-ratio: 1;
  height: fit-content;
}

/* tablet */
@media only screen and (min-width: 740px) and (max-width: 1300px) {
  .App {
    flex-direction: column;
    padding: 3rem 2rem;
  }
  .sweets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* mobile */

@media screen and (max-width: 745px) {
  .App {
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .sweets {
    display: flex;
    flex-direction: column;
  }

  .overlay {
    justify-content: flex-end;
  }

  .confirmed-order-container {
    position: relative;
    min-width: 100%;
    border-radius: 10px;
    gap: 1.4rem;

    padding: 40px 20px;
  }

  .confirmed-order-container > h1 {
    font-size: 2rem;
  }

  .confirmed-order-list {
    gap: 1rem;
  }
  .start-new {
    margin-top: 1rem;
  }
}
